{% extends "base.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4 text-center">Liste des Projets</h2>
    
    <table class="table table-bordered text-white">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Modifier</th>
                <th>Supprimer</th>

            </tr>
        </thead>
        <tbody class="table-dark">
            {% for projet in projets %}
            <tr>
                <td>{{ projet.id }}</td>
                <td>{{ projet.nom }}</td>
                <td>{{ projet.description }}</td>
                <td>
                    <a href="">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                </td>
                <td>
                    <a href="">
                        <i class="bi bi-trash"></i>
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="text-center">Aucun projet trouvé</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}