{% extends 'nav-bar.html' %}
{% load static %}
{% block content %}
<div class="container mt-4">
    <div class="card shadow border-0 rounded-4">
        <div class="card-header bg-dark text-white">
            <h5 class="mb-0">
                <i class="bi bi-briefcase-fill me-2"></i> 
                Affecter un stage à {{ user.first_name }} {{ user.last_name }}
            </h5>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_stage" class="form-label">{{ form.stage.label }}</label>
                    {{ form.stage }}
                </div>
                <div class="mb-3">
                    <label for="id_stage" class="form-label">{{ form.stage.label }}</label>
                    {{ form.encadreur }}
                </div>
                <div class="d-flex justify-content-between">
                    <a href="{% url 'Accounts:index' %}" class="btn btn-secondary">
                        <i class="bi bi-arrow-left-circle"></i> Annuler
                    </a>
                    <!-- Bouton submit dynamique -->
                        <div class="text-center">
                            <button type="submit" class="btn btn-dark btn-lg rounded-pill px-5">
                                <i class="bi bi-save me-2"></i>
                                {% if projet.id %}
                                    Modifier
                                {% else %}
                                    Enregistrer
                                {% endif %}
                            </button>
                        </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}